@model List<MyWeatherStation.Data.sensordata>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Odczyty</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Temperatura</th>
            <th>Wilgotność</th>
            <th>Temperatura 2</th>
            <th>Czas odczytu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.temperature</td>
                <td>@item.humidity</td>
                <td>@item.temperature_bmp</td>
                <td>@item.reading_time</td>
            </tr>
        }
    </tbody>
</table>
